@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:wght@900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.header {
  padding: 20px 10px;
}
.header__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__title {
  font-size: 40px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: #93a4d3;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgb(125, 138, 173), 1px 2px 0px rgb(125, 138, 173), 1px 3px 0px rgb(125, 138, 173), 1px 4px 0px rgb(125, 138, 173), 1px 5px 0px rgb(125, 138, 173), 1px 6px 0px rgb(125, 138, 173), 1px 5px 5px rgba(16, 16, 16, 0.5), 1px 10px 10px rgba(16, 16, 16, 0.4), 1px 15px 25px rgba(16, 16, 16, 0.3), 1px 20px 40px rgba(16, 16, 16, 0.2);
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.header__name {
  margin: 0 0 10px 0;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
}
.header__item {
  margin: 0 0 5px 0;
}
.header__icon {
  width: 3%;
  vertical-align: bottom;
}
@media (max-width: 576px) {
  .header__icon {
    width: 4.5%;
  }
}
.header__link {
  color: black;
  font-weight: 700;
  text-decoration: underline;
}
.header__photo {
  display: block;
  width: 20%;
  height: 20%;
}
@media (max-width: 576px) {
  .header__photo {
    width: 25%;
    height: 25%;
  }
}

.changeTheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px;
  position: relative;
  height: 17px;
  width: 34px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
@media (max-width: 768px) {
  .label {
    height: 17px;
    width: 31px;
  }
}
@media (max-width: 576px) {
  .label {
    height: 13px;
    width: 26px;
  }
}

.label .ball {
  background-color: #272727;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  height: 13px;
  width: 13px;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}
@media (max-width: 768px) {
  .label .ball {
    height: 12px;
    width: 12px;
  }
}
@media (max-width: 576px) {
  .label .ball {
    height: 9px;
    width: 9px;
  }
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(16px);
          transform: translateX(16px);
}
@media (max-width: 768px) {
  .checkbox:checked + .label .ball {
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
  }
}

.fa-moon {
  font-size: 10px;
  color: #000000;
}
@media (max-width: 768px) {
  .fa-moon {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  .fa-moon {
    font-size: 7px;
  }
}

.fa-sun {
  font-size: 10px;
  color: #000000;
}
@media (max-width: 768px) {
  .fa-sun {
    font-size: 9px;
  }
}
@media (max-width: 576px) {
  .fa-sun {
    font-size: 7px;
  }
}

.skills {
  margin-bottom: 20px;
}
.skills__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.skills__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.skills__table {
  border-spacing: 0 11px;
}
.skills th {
  text-align: left;
}
.skills td {
  padding-left: 60px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .skills td {
    padding-left: 5px;
  }
}
.skills td:nth-child(3) {
  vertical-align: bottom;
}
.skills__item {
  list-style-type: none;
}

.summary {
  margin-bottom: 20px;
}
.summary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
@media (max-width: 576px) {
  .summary__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.summary__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.summary__table {
  border-spacing: 0 5px;
  border-collapse: separate;
}
.summary th {
  text-align: left;
}
.summary td {
  padding-left: 60px;
  font-weight: 600;
}

.experience {
  margin-bottom: 20px;
}
.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.experience__item-job {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.experience__item-job:last-child {
  margin-bottom: 0;
}
.experience__history {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.experience__item-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}
@media (max-width: 576px) {
  .experience__item-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 5px;
  }
}
.experience__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.experience__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.experience__title {
  font-weight: 600;
}
.experience__list {
  list-style-type: square;
  padding: 0 0 0 13px;
}
.experience__list p {
  margin: 0 0 7px -13px;
}
.experience__item {
  margin-bottom: 5px;
}
.experience__place {
  font-weight: 600;
  color: rgb(14, 53, 86);
}
.experience__date {
  font-style: oblique;
}

.education {
  margin-bottom: 20px;
}
.education__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.education__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.education__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.education__list {
  width: 100%;
}
.education__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.education__title {
  position: relative;
  padding-left: 10px;
}
.education__title b {
  font-weight: 700;
}
.education__title::before {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -5px;
  content: " ";
  width: 4px;
  height: 4px;
  background-color: #000;
}
.education__date {
  font-style: oblique;
}

.courses {
  margin-bottom: 20px;
}
.courses__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.courses__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.courses__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.courses__list {
  width: 100%;
}
.courses__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.courses__title {
  position: relative;
  padding-left: 10px;
}
.courses__title::before {
  position: absolute;
  display: block;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -5px;
  content: " ";
  width: 5px;
  height: 5px;
  background-color: #000;
}
.lang {
  margin-bottom: 20px;
}
.lang__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.lang__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.lang__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.lang__list {
  list-style-type: square;
  margin-left: 10px;
}
.lang__item {
  margin-bottom: 5px;
}
.hobbies {
  margin-bottom: 20px;
}
.hobbies__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.hobbies__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.hobbies__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.hobbies__list {
  list-style-type: square;
  margin-left: 10px;
}
.hobbies__item {
  margin-bottom: 5px;
}
.galary {
  margin-bottom: 20px;
}
.galary__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 40px;
}
.galary__heading {
  width: 100%;
  max-width: 120px;
  padding: 5px 0;
  margin: 2px 0 10px 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-size: 110%;
  line-height: 1.33;
  background: #000;
  color: #fff;
  text-align: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 5px !important;
  font-weight: 600 !important;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 0 8px 8px 0;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
.dark {
  color: #ffffff;
  background: #0e1b1d;
}
.dark a {
  color: #fff;
}
.dark h3 {
  background-color: #ffffff;
  color: #000000;
}
.dark .label {
  background-color: #000000;
  border: 1px solid #ffffff;
}
.dark .label .ball {
  background-color: #ffffff;
}
.dark .fa-moon {
  color: #ffffff;
}
.dark .education ::before,
.dark .courses ::before {
  background-color: #ffffff;
}
.dark .header .header--bg {
  background-image: url("../../assets/img/bgHeaderDark.png");
  background-repeat: no-repeat;
}
.dark .header__name {
  color: #ffffff;
}
.dark .main .aboutMe__title {
  color: #ffffff;
}
.dark .main .aboutMe__text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dark .main .experience__title {
  color: #ffffff;
}
.dark .main .education__title {
  color: #ffffff;
}
.dark .main .code__title {
  color: #ffffff;
}
.dark .footer .footer--bg {
  background-image: url("../../assets/img/bgFooterDark.png");
  background-repeat: no-repeat;
}
.dark .footer__cta {
  color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 10px;
  }
}

body {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  width: 100%;
}

.link_to_view {
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
}
.link_to_view:active {
  color: #000;
}
.link_to_view:visited {
  color: #000;
}
.link_to_view:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=style.css.map */