.dark {
  color: $colorTextDark;
  background: $bgColorDark;

  a {
    color: #fff;
  }

  .link_to_view:active {
    color: rgb(194, 219, 240);
  }

  .link_to_view:visited {
    color: rgb(194, 219, 240);
  }

  h3 {
    background-color: #ffffff;
    color: #000000;
  }

  .label {
    background-color: #000000;
    border: 1px solid #ffffff;
  }

  .label .ball {
    background-color: #ffffff;
  }

  .fa-moon {
    color: #ffffff;
  }

  .education ::before,
  .courses ::before {
    background-color: #ffffff;
  }

  .header {
    .header--bg {
      background-image: url("../../assets/img/bgHeaderDark.png");
      background-repeat: no-repeat;
    }

    &__name {
      color: $colorTextDark;
    }

    &__title {
      color: #bad7f3;
      text-shadow:
        1px 1px 0px rgb(159, 171, 185),
        1px 2px 0px rgb(159, 171, 185),
        1px 3px 0px rgb(159, 171, 185),
        1px 4px 0px rgb(159, 171, 185),
        1px 5px 0px rgb(159, 171, 185),
        1px 6px 0px rgb(159, 171, 185),
        1px 5px 5px rgba(16, 16, 16, 0.4),
        1px 10px 10px rgba(16, 16, 16, 0.3),
        1px 15px 25px rgba(16, 16, 16, 0.2),
        1px 20px 40px rgba(16, 16, 16, 0.1);
    }
  }

  .experience__place {
    color: rgb(194, 219, 240);
  }

  .main {
    .aboutMe {
      &__title {
        color: $colorTextDark;
      }

      &__text {
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .experience {
      &__title {
        color: $colorTextDark;
      }
      &__place {
        color: rgb(194, 219, 240);
      }
    }

    .education {
      &__title {
        color: $colorTextDark;
      }
    }

    .code {
      &__title {
        color: $colorTextDark;
      }
    }
  }

  .footer {
    .footer--bg {
      background-image: url("../../assets/img/bgFooterDark.png");
      background-repeat: no-repeat;
    }

    &__cta {
      color: $colorTextDark;
    }
  }
}
