.galary {
    &__container {
        display: flex;
        gap: 10px 40px;
    }

    margin-bottom: 20px;
    &__heading {
        @include header3;
        align-self: flex-start;
        width: 120px;
        min-width: 120px;
    }

    img {
        border: 1px solid black;
        cursor: pointer;
    }
    h4 {
        margin-bottom: 7px;
        font-weight: 600;
    }

    /* Add padding BETWEEN each column */
    .row {
        display: flex;
        flex-wrap: wrap;
        gap: 16px 8px;
        justify-content: space-between;
    }

    /* Create four equal columns that floats next to each other */
    .column {
        max-width: 24%;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 1176px) {
        .column {
            flex-direction: column;
            max-width: 49%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            max-width: 95%;
        }
    }
}
