.header {
    &__toolbar {
        display: flex;
        justify-content: center;
    }
    padding: 20px 10px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__info {
    }
    &__title {
        margin: 0 0 20px 0;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__name {
        margin: 0 0 10px 0;
        font-weight: 800;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    &__item {
        margin: 0 0 5px 0;
        // padding-left: 30px;
        // position: relative;
        // :before {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     background-image: url(../images/icon/code.png);
        //     background-size: cover;
        //     width: 15px;
        //     height: 30px;
        //     width: 30px;
        //     border-radius: 50%;
        //     margin-right: 5px;
        //     display: inline-block;
        //     vertical-align: middle;
        // }
    }
    &__icon {
        width: 3%;
        vertical-align: bottom;
    }
    &__link {
        color: black;
        font-weight: 700;
        text-decoration: underline;
    }
    &__photo {
        display: block;
        width: 20%;
        height: 20%;
    }
}
