.header {
    &__toolbar {
        display: flex;
        justify-content: center;
    }
    padding: 20px 10px;
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__info {
    }
    &__title {
        letter-spacing: 2px;
        font-size: 40px;
        font-weight: 600;
        font-family: "Roboto", sans-serif;
        color: #63b0f7;
        text-transform: uppercase;
        text-shadow:
            1px 1px 0px rgb(115, 158, 211),
            1px 2px 0px rgb(115, 158, 211),
            1px 3px 0px rgb(115, 158, 211),
            1px 4px 0px rgb(115, 158, 211),
            1px 5px 0px rgb(115, 158, 211),
            1px 6px 0px rgb(115, 158, 211),
            1px 5px 5px rgba(16, 16, 16, 0.4),
            1px 10px 10px rgba(16, 16, 16, 0.3),
            1px 15px 25px rgba(16, 16, 16, 0.2),
            1px 20px 40px rgba(16, 16, 16, 0.1);

        margin: 0 0 20px 0;
        text-transform: uppercase;
    }
    &__name {
        margin: 0 0 10px 0;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    &__item {
        margin: 0 0 5px 0;
        // padding-left: 30px;
        // position: relative;
        // :before {
        //     content: "";
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     background-image: url(../images/icon/code.png);
        //     background-size: cover;
        //     width: 15px;
        //     height: 30px;
        //     width: 30px;
        //     border-radius: 50%;
        //     margin-right: 5px;
        //     display: inline-block;
        //     vertical-align: middle;
        // }
    }
    &__icon {
        width: 3%;

        vertical-align: bottom;
        @media (max-width: 576px) {
            width: 4.5%;
        }
    }
    &__item-img {
        vertical-align: middle;
    }
    &__link {
        color: black;
        font-weight: 700;
        text-decoration: underline;
    }
    &__photo {
        display: block;
        width: 20%;
        height: 20%;
        @media (max-width: 576px) {
            width: 25%;
            height: 25%;
        }
    }
}
