.skills {
    margin-bottom: 20px;
    &__heading {
        @include header3;
    }
    &__table {
           border-spacing: 0 5px;
	border-collapse: separate; 
    }


    &__row {

    }

    th {
        text-align: left;
    }

    td {
        padding-left: 60px;
        font-weight: 600;
    }
}